@font-face{
    font-family: "Quicksand-Light";
    src:url("fonts/Quicksand-Light.woff2") format("woff2");
}

@font-face{
    font-family: "Quicksand-Regular";
    src:url("fonts/Quicksand-Regular.woff2") format("woff2");
}

@font-face{
    font-family: "Quicksand-Medium";
    src:url("fonts/Quicksand-Medium.woff2") format("woff2");
}


body {
      animation: colorchange 30s; 
      -webkit-animation: colorchange 20s;
      animation-iteration-count: infinite;
    }

  @keyframes colorchange
    {
      0%   {background: #e99a75;}
      10%  {background: #eaa780;}
      20%  {background: #eba387;}
      30%  {background: #ecb47c;}
      40%  {background: #ea9d92;}
      50%  {background: #e78465;}
      60%  {background: #ea9d92;}
      70%  {background: #ecb47c;}
      80%  {background: #eba387;}
      90%  {background: #eaa780;}
      100% {background: #e99a75;}
    }  

div{
  
}

a{
  color: bisque;
  text-decoration: none;
}

a:hover {
font-weight: bold;
font-size: 30px;
cursor: pointer;
}

img:hover{
  cursor: pointer;
}

h1{
  text-align: center;
  color: grey;
  font-size: 57px;
  font-family: "Quicksand-Regular"; 
  font-style: normal;
}

h2{
  text-align: center;
  color: grey;
  font size: 35px;
  font-family: "Quicksand-Regular";
}

h3{
  text-align: center;
  color:bisque;
  font-size: 20px;
    font-family: "Quicksand-Light"; }

.heart-wrapper{
  height: 250px;
  width: 250px;
  position:absolute;
  border-radius: 125px;
  top: 30%;
  left: 39%;
  overflow: hidden;
        animation: colorchange 30s; 
      -webkit-animation: colorchange 20s;
      animation-iteration-count: infinite;
/*  background-color: #F8F8F8;*/
/*  transition: background 1s ease-in-out;
  animation-iteration-count: infinite;*/
}

.heart-wrapper:hover {
  background-color: #910d3f ;
  justify-content: center;
}

.heart-wrapper:hover .heart{
  background-color: pink/*#c70039*/;
}

.heart-wrapper:hover .heart-1{
  background-color: pink/*#c70039*/;
}

.heart-wrapper:hover .heart-r{
  background-color: pink/*#c70039*/;
}

.heart-wrapper2{
  height: 250px;
  width: 250px;
  position:absolute;
  border-radius: 125px;
  top: 60%;
  left: 12%;
  overflow: hidden;
          animation: colorchange 30s; 
      -webkit-animation: colorchange 20s;
      animation-iteration-count: infinite;
/*  background-color: #F8F8F8;
  transition: background 1s ease-in-out;
  animation-iteration-count: infinite;*/

}

.heart-wrapper2:hover {
  background-color: #910d3f ;
  justify-content: center;
}

.heart-wrapper2:hover .heart2{
  background-color: pink/*#c70039*/;
}

.heart-wrapper2:hover .heart-1{
  background-color: pink/*#c70039*/;
}

.heart-wrapper2:hover .heart-r{
  background-color: pink/*#c70039*/;
}


.heart-wrapper3{
  height: 250px;
  width: 250px;
  position:absolute;
  border-radius: 125px;
  top: 60%;
  left: 65%;
  overflow: hidden;
          animation: colorchange 30s; 
      -webkit-animation: colorchange 20s;
      animation-iteration-count: infinite;
/*  background-color: #F8F8F8;
  transition: background 1s ease-in-out;
  animation-iteration-count: infinite;*/
}

.heart-wrapper3:hover {
  background-color: #910d3f ;
  justify-content: center;
}

.heart-wrapper3:hover .heart3{
  background-color: pink/*#c70039*/;
}

.heart-wrapper3:hover .heart-1{
  background-color: pink/*#c70039*/;
}

.heart-wrapper3:hover .heart-r{
  background-color: pink/*#c70039*/;
}

.heart-wrapper4{
  height: 250px;
  width: 250px;
  position:absolute;
  border-radius: 125px;
  top: 13%;
  left: 65%;
  overflow: hidden;
          animation: colorchange 30s; 
      -webkit-animation: colorchange 20s;
      animation-iteration-count: infinite;
/*  background-color: #F8F8F8;
  transition: background 1s ease-in-out;
  animation-iteration-count: infinite;*/

}

.heart-wrapper4:hover {
  background-color: #910d3f ;
  justify-content: center;
}

.heart-wrapper4:hover .heart4{
  background-color: pink/*#c70039*/;
}

.heart-wrapper4:hover .heart-1{
  background-color: pink/*#c70039*/;
}

.heart-wrapper4:hover .heart-r{
  background-color: pink/*#c70039*/;
}

.heart-wrapper5{
  height: 250px;
  width: 250px;
  position:absolute;
  border-radius: 125px;
  top: 12%;
  left: 12%;
  overflow: hidden;
          animation: colorchange 30s; 
      -webkit-animation: colorchange 20s;
      animation-iteration-count: infinite;
/*  background-color: #F8F8F8;
  transition: background 1s ease-in-out;
  animation-iteration-count: infinite;*/

}

.heart-wrapper5:hover {
  background-color: #910d3f ;
  justify-content: center;
}

.heart-wrapper5:hover .heart5{
  background-color: pink/*#c70039*/;
}

.heart-wrapper5:hover .heart-1{
  background-color: pink/*#c70039*/;
}

.heart-wrapper5:hover .heart-r{
  background-color: pink/*#c70039*/;
}

.heart{
  background-color: #c70039;
  height: 70px;
  width: 70px;
  position:absolute;
  top: 50%;
  left: 36%;
  transform: rotate(45deg);
  animation: beat 4s infinite;
  transition-property:background-color, transform;
  transition-duration: 1s, 1s;
  transition-timing-function: ease-in-out, linear;
}

@keyframes beat{
  50%{
    transform: rotate(45deg)scale(1.5);
  }
}

.heart-1, .heart-r{
  background-color: #c70039;
  height: 40px;
  width: 70px;
  position: relative;
  border-radius: 70px 70px 0px 0px;
  transition-property:background-color, transform;
  transition-duration: 1s, 1s;
  transition-timing-function: ease-in-out, linear;

}

.heart-1{
    bottom: 38px;
}

.heart-r{
  bottom: 25px;
  right: 52px;
  transform: rotate(-90deg);
}


.heart2{
  background-color: #c70039;
  height: 70px;
  width: 70px;
  position:absolute;
  top: 47%;
  left: 37%;
  transform: rotate(45deg);
  animation: beat 4s infinite;
        transition-property:background-color, transform;
        transition-duration: 1s, 1s;
        transition-timing-function: ease-in-out, linear;
}



.heart3{
  background-color: #c70039;
  height: 70px;
  width: 70px;
  position:absolute;
  top: 47%;
  left: 37%;
  transform: rotate(45deg);
  animation: beat 4s infinite;
        transition-property:background-color, transform;
        transition-duration: 1s, 1s;
        transition-timing-function: ease-in-out, linear;
}

.heart4{
  background-color: #c70039;
  height: 70px;
  width: 70px;
  position:absolute;
  top: 47%;
  left: 37%;
  transform: rotate(45deg);
  animation: beat 4s infinite;
        transition-property:background-color, transform;
        transition-duration: 1s, 1s;
        transition-timing-function: ease-in-out, linear;
}

.heart5{
  background-color: #c70039;
  height: 70px;
  width: 70px;
  position:absolute;
  top: 47%;
  left: 37%;
  transform: rotate(45deg);
  animation: beat 4s infinite;
          transition-property:background-color, transform;
          transition-duration: 1s, 1s;
          transition-timing-function: ease-in-out, linear;
}






.flex{
  display: flex;
/*  width: 90%;
  margin: 20px;*/

}

.maincontainer{
  width: 800px;
  height: 260px;
  background-color: orange;
  position: absolute;
margin-top: 15%;
margin-left: 20%;

}

.topbar{
    background-color: grey;
width: 100%;
height: 25%;
/*align-content: left;*/
}

.bottombar{
    background-color: white;
    position: absolute;
width: 100%;
height: 75%;
/*align-content: right;*/
}

.space-around{
  justify-content: space-around;
}

.flex-end{
  justify-content: flex-end;
}

.flex-start{
  justify-content: flex-start;
}

.flex-vertical{
  display: flex;
  height: 800px;
  flex-direction: column;
}

.flex-horizontal{
  display: flex;
  flex-direction: row;
}




