@font-face{
    font-family: "Quicksand-Light";
    src:url("fonts/Quicksand-Light.woff2") format("woff2");
}

@font-face{
    font-family: "Quicksand-Regular";
    src:url("fonts/Quicksand-Regular.woff2") format("woff2");
}

@font-face{
    font-family: "Quicksand-Medium";
    src:url("fonts/Quicksand-Medium.woff2") format("woff2");
}

body{
  color: white;
} 

div{
  
}

a{
  color: grey;
  text-decoration: none;
}

video{
  opacity: 0.1;
  z-index: 0;
}

h1{
  text-align: center;
  color: grey;
  font-size: 57px;
  font-family: "Quicksand-Regular"; 
  font-style: normal;
}

h2{
  text-align: center;
  color: grey;
  font size: 35px;
  font-family: "Quicksand-Regular";
}

h3{
  text-align: center;
  color:grey;
  font-size: 20px;
    font-family: "Quicksand-Light"; 


}

.flex{
  display: flex;
/*  width: 90%;
  margin: 20px;*/

}

/*.maincontainer{
  width: 800px;
  height: 260px;
  border-radius: 10%;
  background-color: white;
  opacity: 0.8;
  position: absolute;
transform: translate(-50%, -50%);
top:50%;
left: 50%;
}*/

.maincontainer{
  width: 810px;
  height: 260px;
  border-radius: 20px;
  position: absolute;
transform: translate(-50%, -50%);
top:50%;
left: 50%;
}

/*.topbar{
width: 100%;
height: 25%;
  border-radius: 10%;
}*/

.topbar{
    background-color: white;
    width: 800px;
    height: 45px;
    opacity: 0.8;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-bottom: 2px solid;
}

/*.bottombar{
    position: absolute;
width: 100%;
height: 75%;
  border-radius: 10%;
}*/

.bottombar{
position: absolute;
    width: 800px;
    height: 195px;
    opacity: 0.8;
    padding-top: 10px;
    margin-top: 5px;
    border: 2px solid silver;
    border-radius: 20px;
  }

.rain{
background-color: white;
width: 25%;
height: 100%;
position: absolute;
text-align: center;
  border-radius: 10%;

/*margin-left:0%;*/
}

.rain: hover{
  cursor: pointer;
}

.fire{
background-color: white;
width: 25%;
height: 100%;
  border-radius: 10%;
    position: absolute;
    margin-left: 25%;
    text-align: center;
}

.wind{
background-color: white;
width: 25%;
height: 100%;
  border-radius: 10%;
    position: absolute;
    margin-left: 50%;
    text-align: center;
/*margin-left:0%;*/
}

.bird{
background-color: white;
width: 25%;
height: 100%;
  border-radius: 10%;
    position: absolute;
    margin-left: 75%;
    text-align: center;
/*margin-left:0%;*/
}

.breathediv{
background-color: white;
width: 25%;
height: 100%;
position: absolute;
  border-radius: 10%;
/*text-align: center;
font-family: "Quicksand-Light";
font-size: 26px;*/
}

.breathe{
/*background-color: black;*/
width: 100%;
height: 100%;
/*position: absolute;*/
text-align: center;
font-family: "Quicksand-Light";
font-size: 26px;
margin-top: 5%;
}

/*.breathe: hover{
  cursor: 
}*/

.escapediv{
background-color: white;
width: 25%;
height: 100%;
  border-radius: 10%;
    position: absolute;
    margin-left: 25%;
/*    text-align: center;
    font-family: "Quicksand-Light";
    font-size: 26px;*/
}

.escape{

/*width: 25%;*/
height: 100%;

/*    margin-left: 25%;*/
    text-align: center;
    font-family: "Quicksand-Light";
    font-size: 26px;
    margin-top: 5%;
}

.listendiv{
background-color: white;
width: 25%;
height: 100%;
  border-radius: 10%;
    position: absolute;
    margin-left: 50%;
/*    text-align: center;
    font-family: "Quicksand-Light";
    font-size: 26px;*/
}

.listen{

/*width: 25%;*/
height: 100%;

/*    margin-left: 50%;*/
    text-align: center;
    font-family: "Quicksand-Light";
    font-size: 26px;
    margin-top: 5%;
}

.relaxdiv{
background-color: white;
width: 25%;
height: 100%;
  border-radius: 10%;
    position: absolute;
    margin-left: 75%;
    text-align: center;
/*    font-family: "Quicksand-Light";
    font-size: 26px;*/
}

.relax{

/*width: 25%;*/
height: 100%;

/*    margin-left: 75%;*/
    text-align: center;
    font-family: "Quicksand-Light";
    font-size: 26px;
    margin-top: 5%;
}



.space-around{
  justify-content: space-around;
}

.flex-end{
  justify-content: flex-end;
}

.flex-start{
  justify-content: flex-start;
}

.flex-vertical{
  display: flex;
  height: 800px;
  flex-direction: column;
}

.flex-horizontal{
  display: flex;
  flex-direction: row;
}

.isplaying {
/*  border: 5px solid blue;*/
opacity: 0.5;
}

.bodyscan{
  width: 800px;
  height: 260px;
   border-radius: 10%;
  background-color: white;
  opacity: 0.7;
  position: absolute;
transform: translate(-50%, -50%);
top:50%;
left: 50%;
}

.description{
  height: 80%;
text-align: center;
color: black;
margin-top: 2%;
}

.bottomoptions{
    position: absolute;
width: 100%;
margin-left: 20%
/*height: 70px;
margin-top: 50%;*/
}

.fivemin{
  width: 155px;
  height: 80px;
  background-color: white;
  opacity: 0.7;
  position: absolute;
margin-top: -15%;
margin-left: 10%;
z-index: 0;
font-family: "Quicksand-Light";
text-align: center;
}

.fivemin:hover {
cursor: pointer;
}

.tenmin{
  width: 155px;
  height: 80px;
  background-color: white;
  opacity: 0.7;
  position: absolute;
margin-top: -15%;
margin-left: 25%;
z-index: 0;
font-family: "Quicksand-Light";
text-align: center;
}

.tenmin:hover {
cursor: pointer;
}

.twentymin{
  width: 155px;
  height: 80px;
  background-color: white;
  opacity: 0.7;
  position: absolute;
margin-top: -15%;
margin-left: 40%;
z-index: 0;
font-family: "Quicksand-Light";
text-align: center;
}

.twentymin:hover {
cursor: pointer;
}


