@font-face{
    font-family: "Quicksand-Light";
    src:url("fonts/Quicksand-Light.woff2") format("woff2");
}

@font-face{
    font-family: "Quicksand-Regular";
    src:url("fonts/Quicksand-Regular.woff2") format("woff2");
}

@font-face{
    font-family: "Quicksand-Medium";
    src:url("fonts/Quicksand-Medium.woff2") format("woff2");
}

body{
  color: white;
}

/*body {
      animation: colorchange 30s; 
      -webkit-animation: colorchange 20s;
      animation-iteration-count: infinite;
    }

  @keyframes colorchange
    {
      0%   {background: #e99a75;}
      10%  {background: #eaa780;}
      20%  {background: #eba387;}
      30%  {background: #ecb47c;}
      40%  {background: #ea9d92;}
      50%  {background: #e78465;}
      60%  {background: #ea9d92;}
      70%  {background: #ecb47c;}
      80%  {background: #eba387;}
      90%  {background: #eaa780;}
      100% {background: #e99a75;}
    } */ 

div{
  
}

a{
  color: grey;
  text-decoration: none;
}

a:hover {
font-weight: bold;
font-size: 30px;
cursor: pointer;
}

img:hover{
  cursor: pointer;
}

video{
  opacity: 0.1;
  z-index: 0;
}

h1{
  text-align: center;
  color: grey;
  font-size: 57px;
  font-family: "Quicksand-Regular"; 
  font-style: normal;
}

h2{
  text-align: center;
  color: grey;
  font size: 35px;
  font-family: "Quicksand-Regular";
}

h3{
  text-align: center;
  color:bisque;
  font-size: 20px;
    font-family: "Quicksand-Light"; 
}

.dot {
    height: 5.5px;
    width: 5.5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    top: 50%;

}

.flex{
  display: flex;
/*  width: 90%;
  margin: 20px;*/

}

.maincontainer{
  width: 810px;
  height: 260px;
  border-radius: 20px;
/*  background-color: white;
  opacity: 0.8;*/
  position: absolute;
/*  border:2px grey solid;*/
transform: translate(-50%, -50%);
top:50%;
left: 50%;
}



/*.topbar{
    background-color: white;
width: 800px;
height: 65px;
opacity: 0.8;
margin-top: 0%;
padding-bottom: 10px;
  border-radius: 10px;
}*/

.topbar{
    background-color: white;
    width: 800px;
    height: 45px;
    opacity: 0.8;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-bottom: 2px solid;
}

/*.bottombar{
    background-color: white;
    position: absolute;
width: 800px;
height: 195px;
opacity: 0.8;
margin-bottom: 0%;
border-radius: 20px;
}*/

.bottombar{
position: absolute;
    width: 800px;
    height: 195px;
    opacity: 0.8;
    padding-top: 10px;
    margin-top: 5px;
    border: 2px solid silver;
    border-radius: 20px;
  }

.rain{
/*background-color: white;*/
width: 25%;
height: 100%;
position: absolute;
text-align: center;
/*  border-radius: 10%;*/

/*margin-left:0%;*/
}

.rain: hover{
  cursor: pointer;
}

.fire{
/*background-color: white;*/
width: 25%;
height: 100%;
/*  border-radius: 10%;*/
    position: absolute;
    margin-left: 25%;
    text-align: center;
}

.wind{
/*background-color: white;*/
width: 25%;
height: 100%;
/*  border-radius: 10%;*/
    position: absolute;
    margin-left: 50%;
    text-align: center;
/*margin-left:0%;*/
}

.bird{
/*background-color: white;*/
width: 25%;
height: 100%;
/*  border-radius: 10%;*/
    position: absolute;
    margin-left: 75%;
    text-align: center;
/*margin-left:0%;*/
}

.breathediv{
/*background-color: white;*/
width: 25%;
height: 100%;
position: absolute;
/*  border-radius: 10%;*/
/*text-align: center;
font-family: "Quicksand-Light";
font-size: 26px;*/
}

.breathe{
/*background-color: black;*/
width: 100%;
height: 100%;
/*position: absolute;*/
text-align: center;
font-family: "Quicksand-Light";
font-size: 26px;
margin-top: 5%;
opacity: 0.5;
    /* text-decoration: underline; */
    /* font-weight: 900; */
}

/*.breathe: hover{
  cursor: 
}*/

.escapediv{
/*background-color: white;*/
width: 25%;
height: 100%;
/*  border-radius: 10%;*/
    position: absolute;
    margin-left: 25%;
/*    text-align: center;
    font-family: "Quicksand-Light";
    font-size: 26px;*/
}

.escape{

/*width: 25%;*/
height: 100%;

/*    margin-left: 25%;*/
    text-align: center;
    font-family: "Quicksand-Light";
    font-size: 26px;
    margin-top: 5%;
}

.listendiv{
/*background-color: white;*/
width: 25%;
height: 100%;
/*  border-radius: 10%;*/
    position: absolute;
    margin-left: 50%;
/*    text-align: center;
    font-family: "Quicksand-Light";
    font-size: 26px;*/
}

.listen{

/*width: 25%;*/
height: 100%;

/*    margin-left: 50%;*/
    text-align: center;
    font-family: "Quicksand-Light";
    font-size: 26px;
    margin-top: 5%;
}

.relaxdiv{
/*background-color: white;*/
width: 25%;
height: 100%;
/*  border-radius: 10%;*/
    position: absolute;
    margin-left: 75%;
    text-align: center;
/*    font-family: "Quicksand-Light";
    font-size: 26px;*/
}

.relax{

/*width: 25%;*/
height: 100%;

/*    margin-left: 75%;*/
    text-align: center;
    font-family: "Quicksand-Light";
    font-size: 26px;
    margin-top: 5%;
}



.space-around{
  justify-content: space-around;
}

.flex-end{
  justify-content: flex-end;
}

.flex-start{
  justify-content: flex-start;
}

.flex-vertical{
  display: flex;
  height: 800px;
  flex-direction: column;
}

.flex-horizontal{
  display: flex;
  flex-direction: row;
}

.isplaying {
/*  border: 5px solid blue;*/
opacity: 0.5;
}