.flex{
	display: flex;
}

.flex-end{
	justify-content: flex-end;
}
.sun-wrapper{
	height: 200px;
	width: 200px;
	overflow: hidden;
	border: 1px solid white;
	background-color: #5a1846;
	transition: background 1s ease-in-out;
	animation-iteration-count: infinite;

}

.sun-wrapper:hover {
	background-color: #ff2b0f;
	justify-content: center;
}

.sun-wrapper:hover .sun{
	background-color: #c70039;
transform: translateY(200px);
}

.sun{
	width: 150px;
	height: 150px;
	background-color: #c70039;
	border-radius: 100px;
	transition-property:background-color, transform;
	transition-duration: 1s, 1s;
	transition-timing-function: ease-in-out, linear;
}

.moon-wrapper{
	height: 200px;
	width: 200px;
	border: 1px solid white;
	background-color: darkblue;
	overflow: hidden;
	animation-name: moonsky;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;

}

.moon{
	height:200px;
	width: 200px;
	border-radius: 100px;
	background-color: #ffc301;
	animation-name: riseandset;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}

@keyframes riseandset{
	from{
		transform:translateX(-200px);
	}
	to{
		transform: translateX(200px);
		background-color: yellow;
	}

}

@keyframes moonsky {
	0% {
		background-color: lightblue;
	}

	25%{
		background-color: pink;
	}

	50%{
		background-color: #ff5733;
	}
	75%{
		background-color: #910d3f;
	}

	100%{
		background-color:#9a2476;
	}
}


.circle-wrapper{
	height: 200px;
	width: 200px;
	border: 1px solid white;
	background-color: darkblue;
	overflow: hidden;
	animation-name: circlesky;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;

}

.circle{
	height:200px;
	width: 200px;
/*	border-radius: 100px;*/
	background-color:#ff751a /*#ffc301*/;
	animation-name: updown;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}

@keyframes updown{
	from{
		transform:translateY(-200px);
	}
	to{
		transform: translateY(200px);
		background-color: peachpuff;
	}

}

@keyframes circlesky{
	0% {
		background-color: lightblue;
	}

	25%{
		background-color: pink;
	}

	50%{
		background-color: #ff5733;
	}
	75%{
		background-color: #910d3f;
	}

	100%{
		background-color:#9a2476;
	}
}
