html{
  background-image: url("unii.jpg");
}

#earth {
  position: relative;
  width: 260px;
  height: 260px;
/*  margin: 3em auto;*/
  background: url(earthmap.jpg) 0 0 repeat;
  border-radius: 50%;
  background-size: 630px;
  animation: rotate 4s linear infinite;
  transition: transform 200ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
  color: #000;
  position: absolute;
  margin-top: 10%;
  margin-left: 30%;
}

#earth:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -80px 15px 80px 10px rgba(0,0,0,.6) inset;
}

#earth:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: radial-gradient(circle at 100px 100px, #fff, #000);
}

@keyframes rotate {
  0% {background-position: 0 0;}
  100% {background-position: 630px 0;}
}

#moon {
  position: relative;
  width: 150px;
  height: 150px;
/*  margin: 3em auto;*/
  background: url(moon.jpg) 0 0 repeat;
  border-radius: 50%;
  background-size: 630px;
  animation: rotate 20s linear infinite;
  transition: transform 200ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
  color: #000;
  position: absolute;
  margin-top: 5%;
  margin-left: 70%;
}

#moon:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -80px 15px 80px 10px rgba(0,0,0,.5) inset;
}

#moon:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: radial-gradient(circle at 100px 100px, #fff, #000);
}


#saturn {
  width: 300px;
  height: 300px;
/*  margin: 3em auto;*/
  background: url(saturn.jpg) 0 0 repeat;
    transform: rotate(-15deg);
  border-radius: 50%;
  background-size: 630px;
  animation: rotate 1s linear infinite;
  transition: transform 200ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
  color: #000;
  position: absolute;
  margin-top: 22%;
  margin-left: 60%;
}

#saturn:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
 /* box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;*/
}

#saturn:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: radial-gradient(circle at 100px 100px, #fff, #000);
}

