/*body{
	background-color: black;
}*/

html {
    background-image: url('./blackbgfood.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}


div{
	
}

a{
	color: #f3e5b1;
}

h1{
	text-align: center;
	color: #f3e5b1;
	font-size: 57px;
	font-family: "Times New Roman"; 
	font-style: normal;
	font-weight: 300;
}

h2{
	text-align: center;
	color: #f3e5b1;
	font size: 40px;
	font-family: "Champagne & Limousines";
		font-weight: normal;
				font-style: italic;
}

h3{
	text-align: center;
	color: #f3e5b1;
	font-size: 25px;
		font-family: "Champagne & Limousines"; 
			font-style: nromal;
				font-weight: normal;
				text-align: left;


}

.flex{
	display: flex;
	width: 90%;
	margin: 20px;

}

.maincontainer{

}
.titlebox{
	width: 37%;
	height:5%;
	margin-left: 14.8%;
}

.descriptionbox{
	width: 37.5%;
	height: 30%;
	text-align: left;
	border: 0.5px #f3e5b1 ridge;
	padding: 17px;

}

.leftcontainer{
/*		background-color: #f3e5b1;*/
width: 70px;
height: 100px;
align-content: left;
margin-left:3%;
}

.rightcontainer{
/*		background-color: #f3e5b1;*/
width: 70px;
height: 100px;
align-content: right;
margin-right:10%;
}

.red{
	background-color: red;
	width: 25px;
height: 30px;
margin-left:0%;
}

.blue{
	background-color: blue;
	width: 25px;
	height: 40px;
	margin-left:0%;
}

.green{
	background-color: green;
	width: 25px;
	height: 5px;
	margin-left:0%;
}

.grey{
	background-color: grey;
	width: 25px;
	height: 25px;
	margin-left:0%;
}
______________________________________
.yellow{
	background-color: yellow;
	width: 45px;
	height: 30px;
	margin-right:0%;
}

.brown{
	background-color: brown;
	width: 45px;
	height: 40px;
}

.orange{
		background-color: brown;
	width: 45px;
	height: 5px;
}


.orange{
		background-color: pink;
	width: 45px;
	height: 25px;
}

.bottombox{
	width: 600px;
height: 0px;
margin-top: -20%;
margin-left: 24%;
}

.space-around{
	justify-content: space-around;
}

.flex-end{
	justify-content: flex-end;
}

.flex-vertical{
	display: flex;
	height: 800px;
	flex-direction: column;
}



.dot {
    height: 370px;
    width: 370px;
    background-color: #FEFFE9;
    border-radius: 50%;
    display: inline-block;
}

.dot p {
	text-align: justify-all;
}
