
div{
	
}

a{color: white}

h1{
	text-align: center;
	color: white;
	font-size: 57px;
	font-family: "Champagne & Limousines"; 
	font-style: normal;
}

h2{
	text-align: center;
	color: white;
	font size: 20px;
	font-family: "Champagne & Limousines"; 
}

h3{
	text-align: center;
	color: white;
	font-size: 35px;
		font-family: "moon flower"; 
		font-style: normal; 
}

.flex{
	display: flex;
	width: 100%;
	margin: 20px;
}

.titlebox{
	width: 540px;
	height:70px;
	margin-left: 17%;
}

.descriptionbox{
	width: 510px;
	height: 400px;
	text-align: center;
	padding: 10px;
	margin-right: 7%;
	background-color: black;
	opacity: 0.8;
	border: 5px white double;
}

.photosbox{
	width: 500px;
	height: 5px;
	text-align: center;
	margin-right: 8%;

}

.bottombox{
	width: 400px;
height: 60px;
margin-top: 100px;
}

.space-around{
	justify-content: space-around;
}

.flex-end{
	justify-content: flex-end;
}

.flex-vertical{
	display: flex;
	height: 800px; 
	flex-direction: column;
}


.dot {
    height: 370px;
    width: 370px;
    background-color: #FEFFE9;
    border-radius: 50%;
    display: inline-block;
}

.dot p {
	text-align: justify-all;
}
