@font-face{
    font-family: "ChampagneLimousine";
    src:url("fonts/Champagne & Limousines.woff2") format("woff2");
}

html {
    background-image: url('./bgsunset.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}


div{
	
}

a{
	color: black;
}

h1{
	text-align: center;
	color: black;
	font-size: 100px;
	font-family: "Champagne & Limousines"; 
	font-style: bold;
}

h2{
	text-align: center;
	color: black;
	font size: 50px;
	font-family: "Champagne & Limousines"; 
}

h3{
	text-align: left;
	color: white;
	font-size: 30px;
		font-family: "Champagne & Limousines"; 

}

h4{ 
	text-align: left;
	color: black;
	font-size: 58px;
	font-family: "Champagne & Limousines"; 
	font-style: normal;

}

.flex{
	display: flex;
	width: 100%;
	margin: 20px;

}

.titlebox{
	width: 500px;
	height:20px;
}

.descriptionbox{
	width: 600px;
	height: 175px;
	text-align: right;
	padding: 10px;
	margin-left: 4%;
	margin-top: 33%
}

.red{
	background-color: red;
	width: 100px;
height: 100px;
}

.bottombox{
	width: 700px;
height: 50px;
margin-top: 5%;
}

.blue{
	background-color: blue;
	width: 100px;
height: 100px;
}

.space-around{
	justify-content: space-around;
}

.flex-end{
	justify-content: flex-end;
}

.flex-vertical{
	display: flex;
	height: 800px;
	flex-direction: column;
}



.dot {
    height: 370px;
    width: 370px;
    background-color: #FEFFE9;
    border-radius: 50%;
    display: inline-block;
}

.dot p {
	text-align: justify-all;
}
