

div{
	
}

a{
	color: grey;
}

h1{
	text-align: center;
	color: grey;
	font-size: 57px;
	font-family: "Champagne & Limousines"; 
	font-style: normal;
}

h2{
	text-align: center;
	color: grey;
	font size: 35px;
	font-family: "Champagne & Limousines";
}

h3{
	text-align: center;
	color: grey;
	font-size: 20px;
		font-family: "Champagne & Limousines"; 
			font-style: italic;


}

.flex{
	display: flex;
	width: 90%;
	margin: 20px;

}

.maincontainer{

}
.titlebox{
	width: 540px;
	height:120px;
	margin-left: 17%;
}

.descriptionbox{
	width: 400px;
	height: 250px;
	text-align: center;

}

.leftcontainer{
		background-color: black;
width: 70px;
height: 100px;
align-content: left;
margin-left:3%;
}

.rightcontainer{
		background-color: black;
width: 70px;
height: 100px;
align-content: right;
margin-right:10%;
}

.red{
	background-color: red;
	width: 25px;
height: 30px;
margin-left:0%;
}

.blue{
	background-color: blue;
	width: 25px;
	height: 40px;
	margin-left:0%;
}

.green{
	background-color: green;
	width: 25px;
	height: 5px;
	margin-left:0%;
}

.grey{
	background-color: grey;
	width: 25px;
	height: 25px;
	margin-left:0%;
}
______________________________________
.yellow{
	background-color: yellow;
	width: 45px;
	height: 30px;
	margin-right:0%;
}

.brown{
	background-color: brown;
	width: 45px;
	height: 40px;
}

.orange{
		background-color: brown;
	width: 45px;
	height: 5px;
}


.orange{
		background-color: pink;
	width: 45px;
	height: 25px;
}

.bottombox{
	width: 400px;
height: 100px;
margin-top: 10px;
}

.space-around{
	justify-content: space-around;
}

.flex-end{
	justify-content: flex-end;
}

.flex-vertical{
	display: flex;
	height: 800px;
	flex-direction: column;
}



.dot {
    height: 370px;
    width: 370px;
    background-color: #FEFFE9;
    border-radius: 50%;
    display: inline-block;
}

.dot p {
	text-align: justify-all;
}
