

h1{ font-family: "forum";
    font-weight: bold;
    font-size: 100px;

}


h2{
	font-family: "forum";
    font-weight: bold;
    font-size: 40px;
}

h3{
    font-family: "forum";
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
}

h4{
    font-family: "forum";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
}

p{
	width: 1000px;
	    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: italic;


}

.smallfont{
        font-family: "forum";
    font-size: 9.5px;
    font-weight: normal;
    font-style: italic;
}

.bigfont{
    font-family: "forum";
    font-weight: lighter;
    font-style: italic;
    font-size: 9.5px;
    margin-top: -5%;
    margin-left: 0;
}

.frostbox{
    width: 700px;
    margin-left: 390px;
    margin-top: 580px;
/*        transform: rotate(35deg);*/
}

.content-wrapper{
	    margin-left: -20px;
        margin-bottom: -10px;
        position: absolute;
    padding-left: 20px;

}

.singleline{
    font-size: 9.5px;
}


.titlebox{
        transform: translate(-50%, -100%) rotate(-90deg);
    transition: transform 1s;
    position: absolute;
    top: 2%;
    left: 10%;
    margin: 0;
    width: 500px;
}

section{
    position: absolute;
    top: 150px;
    left: 200px;
}