@font-face{
    font-family: "forum";
    src:url("fonts/Forum-Regular.woff2") format("woff2");
}

html{
    background-color: #6737e6;
}

h1{ font-family: "forum";
    font-weight: bold;
    font-size: 100px;
    color: white;

}


h2{
	font-family: "forum";
    font-weight: bold;
    font-size: 50px;
        color: white;
}

h3{
    font-family: "forum";
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
        color: white;
}

h4{
    font-family: "forum";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
        color: white;
}

p{
	width: 200px;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
        color: white;

}
.navigation-div{
  
}

.smallfont{
    font-family: "forum";
    font-weight: bold;
    font-size: 90px;
    margin-top: -200%;
    margin-left: -06%;
        color: white;
}

.bigfont{
    font-family: "forum";
    font-weight: bold;
    text-align: right;
    font-size: 120px;
    margin-top: -200%;
    margin-left: -06%;
        color: white;
}

.frostbox{
    width: 500px;
    height: 500px;
    margin-left: 280px;
    margin-top: 580px;
    color: white;
    line-height: 110px;
}

.content-wrapper{
	    margin-left: 175%;
        margin-top: 150%;
        font-size: 12px;
            color: white;
/*    border-left: 1px solid black;*/
/*    padding-left: 20px;*/
}

.titlebox{
        transform: /*translate(-50%, -100%)*/ rotate(90deg);
    transition: transform 1s;
    position: absolute;
    top: 200px;
    left: -340px;
    width: 1000px;
    font-size: 270px;
    margin-bottom: -100px;
        color: white;
}

section{
    position: absolute;
    top: 150px;
    left: 200px;
}

.estrellas {
  position: relative;
  width: 520px;
  height:300px;
  margin: 0 auto;
  font-size: 70px;
  font-family: forum;
  font-weight: bold;
      color: maroon;
}
.estrellas span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70px;
  height: 300px;
  margin-left: -35px;
  line-height: 530px; /* height*2 - font-size */
  text-align: center;
  transform-origin: top center;
}
.estrellas span:nth-of-type(1)  {
  transform: rotate(84.5deg);
}
.estrellas span:nth-of-type(2)  {
  transform: rotate(72.5deg);
}
.estrellas span:nth-of-type(3)  {
  transform: rotate(60.5deg);
}
.estrellas span:nth-of-type(4)  {
  transform: rotate(48.5deg);
}
.estrellas span:nth-of-type(5)  {
  transform: rotate(36.5deg);
}
.estrellas span:nth-of-type(6)  {
  transform: rotate(24.5deg);
}
.estrellas span:nth-of-type(7)  {
  transform: rotate(12.5deg);
}

.estrellas span:nth-of-type(8)  {
  transform: rotate(0deg);
}

.estrellas span:nth-of-type(9)  {
  transform: rotate(-12.5deg);
}

.estrellas span:nth-of-type(10)  {
  transform: rotate(-24.5deg);
}

.estrellas span:nth-of-type(11)  {
  transform: rotate(-36.5deg);
}

.estrellas span:nth-of-type(12)  {
  transform: rotate(-48.5deg);
}

.estrellas span:nth-of-type(13)  {
  transform: rotate(-60.5deg);
}

.estrellas span:nth-of-type(14)  {
  transform: rotate(-72.5deg);
}
.estrellas span:nth-of-type(15)  {
  transform: rotate(-84.5deg);
}

/* Reverse mode */
.inverso {
  font-weight: bold;
}
.inverso span {
  line-height: 70px;
  transform-origin: bottom center;
/*  border: 1px solid red; */
}