@font-face{
	font-family: "bubbles";
	src :url("fonts/VTF_Mixo.woff2") format("woff2");

}

h1{
	font-family: "bubbles";
	position: fixed;
	top:0;
	left:0;
}

p{
	width: 200px;
	position: absolute;
	left: 100px;
	top: 100px;
}

img{
	width: 100px;
	position: absolute;
	top: 25px;
	left: 100px;
/*	transform: rotate(100deg);*/
	/*transform: translate(500px, 100px);*/
/*	z-index: -1;*/
}



.text{
	position: absolute;
	left: 100px;
	top: 100px;
}