html{
    background-color: black;
}

h1{ font-family: "forum";
    font-weight: bold;
    font-size: 100px;
    color: #6737e6;

}



h2{
	font-family: "forum";
    font-weight: bold;
    font-size: 50px;
        color: white;
}

h3{
    font-family: "forum";
    font-size: 30px;
    font-weight: normal;
        color: white;
}

h4{
    font-family: "forum";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
        color: white;
}

p{
	width: 400px;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
        color: white;

}

.smallfont{
        font-family: "forum";
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
        color: white;
}

.rfont{
    font-family: "forum";
    transform: rotate(-35deg);
    font-weight: bold;
    font-size: 150px;
    margin-top: -66%;
    margin-left: 3.4%;
        color: #6737e6;
/*            border-left: white solid 2px;*/
/*               background-color: red;*/
}

.titlebox{
        transform: rotate(-35deg);
    transition: transform 1s;
    position: absolute;
    top: -50px;
    left: 300px;
    width: 1000px;
    font-size: 400px;
    margin-bottom: -100px;
        color: #6737e6;
        padding-left: 6px;
        border-left: white solid 2px;
}

.lowercase{
        transform:rotate(-35deg);
    transition: transform 1s;
    position: absolute;
    margin-top: 340px;
    margin-left: 560px;
/*    margin-top: 318px;
    margin-left: 530px;*/
/*    width: 900px;*/
    font-size: 140px;
    margin-bottom: -100px;
        color: #6737e6;
}

.frostbox{
    width: 500px;
    margin-left: 410px;
    margin-top: 550px;
        color: white;
}

.content-wrapper{
            transform:rotate(-35deg);
/*	    margin-left: 120%;
        margin-top: 150%;
        font-size: 20px;*/
            color: white;
    margin-left: 10%;
    margin-top: 60%;
    font-size: 32px;
/*    border-left: 1px solid black;*/
/*    padding-left: 20px;*/
}



section{
    position: absolute;
    top: 150px;
    left: 200px;
}