@font-face{
    font-family: "Ubuntu Mono";
    src:url("fonts/UbuntuMono-Regular.woff2") format("woff2");
}

@font-face{
    font-family: "Ubuntu Mono";
    src:url("fonts/UbuntuMono-Bold.woff2") format("woff2");
}

html{
    background-color: white;
}

h1{ font-family: "Ubuntu Mono";
    font-weight: bold;
    font-size: 100px;
    color: #6737e6;

}



h2{
	font-family: "Ubuntu Mono";
    font-weight: normal;
    font-size: 32px;
}

h3{
    font-family: "Ubuntu Mono";
    font-size: 30px;
    font-weight: normal;
        color: black;
}

h4{
    font-family: "Ubuntu Mono";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
        color: black;
}

p{
	width: 400px;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
        color: black;
        font-family: "Ubuntu Mono";

}



.smallfont{
        font-family: "Ubuntu Mono";
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
        color: black;
}

.titlebox{
    position: absolute;
    top: -50px;
    left: 300px;
    width: 1000px;
    font-size: 400px;
    margin-bottom: -100px;
        color: black;
        padding-left: 6px;

}

.rfont{
    font-family: "Ubuntu Mono";
    font-weight: lighter;
    /* transform: rotate(-35deg); */
    position: absolute;
    font-size: 350px;
    margin-top: -10%;
    margin-left: -30%;
    color: black;
    z-index: -1;
}


.lowercase{
    transform: rotate(90deg);
    font-family: "Ubuntu Mono";
    position: absolute;
    margin-top: 124px;
    margin-left: 800px;
    font-size: 75px;
    margin-bottom: -100px;
    color: black;
}

.frostbox{
    width: 500px;
    margin-left: 410px;
    margin-top: 550px;
        color: white;
}

.content-wrapper{
    transform: rotate(35deg);
    margin-left: 85%;
    margin-top: 43%;
    font-size: 27px;
}
.justbold{
    font-weight: bold;
    font-size: 27px;

    width: 400px;
    font-family: "Ubuntu Mono"
}

.redbox{
                transform: rotate(35deg);
    width: 110%;
    height: 98%;
    position: absolute;
    margin-left: 60%;
    margin-top: 54%;
    background-color: white;
    border-left: black solid 2px;
    
}

section{
    position: absolute;
    top: 150px;
    left: 200px;
}