
@font-face{
    font-family: "Sardonyx";
    src:url("fonts/Sardonyx.woff2") format("woff2");
}

@font-face{
    font-family: "SnellRoundhand";
    src:url("fonts/SnellRoundhand.woff2") format("woff2");
}

@font-face{
    font-family: "OrangeBlossoms";
    src:url("fonts/OrangeBlossoms.woff2") format("woff2");
}


 html{
    background-color: rebeccapurple;
}


h1{ font-family: "Ubuntu Mono";
    font-weight: bold;
    font-size: 100px;
    color: #6737e6;

}


p{
    width: 400px;

}


.navigation-div{
  align-items:center;
  text-align:center;
  align-content: center;
/*  position: absolute;*/
  width: 400px;
  margin-left: 10%;
  margin-top: 38%;
}

.flex{
    display: flex;
    width: 100%;
    margin: 20px;

}

.flex-start{
    justify-content: flex-start;
}

.ffont{
    font-family: "OrangeBlossoms";
    font-size: 40px;
    margin-top: -6%;
    margin-left: 49.7%;
    color: orange;
    width: 400px;
}

.rosetitle{
    font-size: 55px;
    color: white;
    font-family: "Sardonyx";
    margin-left: 49.8%;
    margin-top: 2%;
    width: 600px;
}

.content-wrapper1{
    margin-left: 50%;
    margin-top: -1%;
    font-size: 20px;
    width: 600px;
    font-weight: normal;
    font-style: italic;
    font-family: "OrangeBlossoms";
     color: orange;
    line-height: 0.09;
}

.content-wrapper-rose{
    font-size: 25px;
    font-family: "OrangeBlossoms";
    color: white;
    width: auto;
    font-weight: normal;
    position: absolute;
    margin-top: -37.9%;
    margin-left: 67.4%;
}

.content-wrapper-theory{
    font-size: 25px;
    font-family: "OrangeBlossoms";
    color: white;
    width: auto;
    position: absolute;
    margin-top: -30.9%;
    margin-left: 59.5%;
}

.content-wrapper-you{
    font-size: 25px;
    font-family: "OrangeBlossoms";
    color: white;
    width: auto;
    position: absolute;
    margin-top: -9.65%;
    margin-left: 50.17%;
}

.content-wrapper-always{
    font-size: 25px;
    font-family: "OrangeBlossoms";
    color: white;
    width: auto;
    position: absolute;
    margin-top: -6.25%;
    margin-left: 61.5%;
}

section{
    position: absolute;
    top: 150px;
    left: -50px;
}