
h1
{font-family:helvetica,ARIAL, san-serif;
size: 50px;
font-style: bold;
color: white;}

h2
{font-family:bodoni 72,ARIAL, san-serif;
size: 40px;
font-style: italic;
color: black;
font-style: bold;
text-align: center;}

h3
{font-family:helvetica,ARIAL, san-serif;
size: 34px;
color: #13A700;
text-align: center;}

h4
{font-family:helvetica,ARIAL, san-serif;
size: 38px;
color: white;
}

h5
{font-family:helvetica,ARIAL, san-serif;
size: 25px;
}

.white-rectangle{
	background-color: #FEFFE9;
	width: 210px;
	height: 40px
}
.white-rectangle p {
	text-align: center;
}


.dot {
    height: 200px;
    width: 200px;
    background-color: #07432B;
    border-radius: 50%;
    display: inline-block;
}

.dot p {
	text-align: justify-all;
    align-content: center;
}



.heart{
    position: relative;
    width: 100px;
    height: 90px;
    float: left;
}
.heart:before,
.heart:after{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #fc2e5a;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after{
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  opacity: 0.9;
  padding: 4px;
}

.grid-item {
  background-color: #FFE200;
  border: 1px solid #FFE600 ;
  padding: 3px;
  font-size: 14px;
  text-align: center;
}
